/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 nov. 2014, 11:44:16
    Author     : antoine
*/

.sliderButton{
    margin-left: 4em;
}
.sliderNomFigther{
    text-align: center;
}
.slides{
    width: 25%;
    
}
.large-6{
    float: left;
}

.sliderGlobal{
    background-color: #333333;
    padding:1em;
}
.sliderView{
    background-color: white;
    opacity: 0.8;
    border: 1px solid black;
    margin: auto;
    width: 70%;
    padding:1em;
    
}
h1{color: white;
padding: 0.5em;}

.bandeau{
    margin-left: 4em;
}

#gamePanel{
    width:100%;
    background: #341C45;
    box-shadow: 1px 1px 14px #0B0703;
    border-radius: 0.5em;
    margin: auto;
}

.gameTable{
   
   float: right;
   margin-right: 2em;
   margin-top: 1em;
}


.clearfix{
    clear:both;
}

.resizeSlider{
    width: 100%;
    box-shadow: 2px 2px 15px #0B0803;
}

